@model TestVM
@{
    ViewBag.Title = "ListTestClasses";
}


<table class="table table-hover">
    <tr>
        <th>İsim</th>
        <th>Resim</th>
    </tr>
    @foreach (TestClass item in Model.TestClasses)
    {
        <tr>
            <td>@item.Name</td>
            <td> <img src="@item.ImagePath" width="100" height="100" /></td>
        </tr>
    }
</table>